body
{
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/maizal.jpg);
}
button
{
    margin-left: 10px;
}
.logo
{
    position: relative;
    width: 60%;
    height: 60%;
    /* left: 80% auto; */
    top: -17%;
    /* transform: translate(-50, -50); */
    display: flex;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    max-width: 960px;
    width: 38%;
    height: 70vh;
    margin-top: 14%;
    box-shadow: 10px 25px 25px 25px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    border-radius: 15px;
    padding: 2rem;
    position: relative;
}


