.logo2
{
    position: relative;
    width: 55%;
    height: 55%;
    /* left: 80% auto; */
    top: -10%;
    /* transform: translate(-50, -50); */
    display: flex;
}
.container2
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.content2 
{
    max-width: 960px;
    width: 38%;
    height: auto;
    margin-top: 14%;
    box-shadow: 10px 25px 25px 25px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    border-radius: 15px;
    padding: 2rem;
    position: relative;

}