.logo
{
    margin-top: 2%;
    margin-left: 40%;
    width: 15%;
    height: 15%;
    display: flex;
}
.btn
{
    margin-top: -30%;
    margin-left: 92%;
}
h2
{
    text-align: center;
    
}
p{
    text-align: center;
}
.foto
{
    width: 30%;
    height: 30%;
    margin-left: 33%;
    margin-bottom: 3%;
}
.card
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 4%;
}
iframe
{
    
    margin-left: 32%;
    padding-bottom: 3%;
    
}
.comprar
{
    display: inline-flex; 
    margin-left: 40%;  
    margin-bottom: 2%;
    align-items: center;
}
